@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "base/functions";

// Optional reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $primary-color;
  color: $white;
}

.bg-dark {
  background-color: $primary-color;
}

.container {
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto;
}

.gap {
  margin: 240px auto;
}
