@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "base/functions";

// Optional reset
* {
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    background-color: $primary-color;
    color: $white;
}

.bg-dark {
    background-color: $primary-color;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

    @media (max-width: 1299px) {
        width: 100%;
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: 991px) {
        padding-left: 25px;
        padding-right: 25px;
    }

    @media (min-width: 1440px) {
        max-width: 1248px;
    }

    @media (min-width: 1920px) {
        max-width: 1600px;
    }
}

.gap {
    margin: 240px auto;
}

footer {
    .custom-html-content {
        p,
        a {
            @media (max-width: 1200px) {
                font-size: 16px !important;
            }
        }
    }

    .footer-richtext {
        a {
            display: block;
            margin-top: 10px;
        }

        p,
        a {
            font-size: 14px !important;
            font-weight: 400;
        }
    }
}

@media (max-width: 1023px) {
    .slick-slider {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

    .slick-slide {
        padding-left: 0 !important;
    }

    .slick-slide > div {
        padding-left: 6%;
        padding-right: 6%;
    }
}

@media (max-width: 575px) {
    .slick-slide > div {
        padding-left: 12px;
        padding-right: 12px;
    }
}
