@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/functions" as *;
@use "../base/typography" as *;

.who-we-are {
    .fade-in {
        animation: fadeWord 1.3s ease forwards;
    }

    @keyframes fadeWord {
        from {
            opacity: 0.5;
        }
        to {
            opacity: 1;
        }
    }
}
