@import "tailwindcss";
@import "slick-image-compare/style";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1281px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Utility to hide horizontal scrollbars on small, scrollable elements */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.sic-main .sic-circle {
  background-color: white !important;
}

.sic-main .sic-arrow-1 svg {
  stroke: #0f0f0f !important;
}

.sic-main .sic-arrow-2 svg {
  stroke: #0f0f0f !important;
}

.sic-main .sic-circle {
  width: 60px !important;
  height: 60px !important;
  border: 1px solid #0f0f0f !important;
  margin-left: -29px !important;
}

.sic-main .sic-arrow-1 {
  left: 4px !important;
  top: 15px !important;
}

.sic-main .sic-arrow-2 {
  right: -17px !important;
  top: 15px !important;
}

.sic-main .sic-line:before {
  background-color: #0f0f0f !important;
}

.uiux-impact-slider.sic-main img,
.uiux-impact-slider .sic-clip img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.uiux-impact-slider.sic-main > img {
  position: relative !important;
}

.uiux-impact-slider.sic-main > img {
  object-position: left center !important;
}

.uiux-impact-slider .sic-clip img {
  object-position: right center !important;
}

.uiux-impact-slider {
  border-radius: 20px;
  overflow: hidden;
}

.uiux-impact-slider .sic-main,
.uiux-impact-slider .sic-clip {
  border-radius: inherit;
}
